<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Polygon with Hole</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/map.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
            dialog {
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 6px;
                box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            }
        </style>
  </head>
  <body>
    <div id="floating-panel">
      <input  id="unnavigable" type=button value="Unavigable">
      <input class="active" id="navigable" type=button value="Navigable">
    </div>

    <div id="modal1" class="modal"  role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <p>Start by choosing the outer bounds of your search space.</p>
          <small> Select <strong>"Next" once you are finish.</strong> </small><hr/>
          <button type="button" class="accept btn btn-success"> OK </button>
        </div>
      </div>
    </div>
    
    <div id="modal2" class="modal"  role="dialog" aria-labelledby="mySmallModalLabel" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <p><strong>Now choose your unnavigable areas.</strong></p>
          <small> If you have more than one, <strong>click "Add" after you select the first one to add another.</strong></small><hr/>
          <button  type="button" class="accept btn btn-success"> OK </button>
        </div>
      </div>
    </div>

    <dialog id="modal3" class="mdl-dialog">
            <h4 class="mdl-dialog__title">UAV Parameters</h4>
            <form method="dialog" >
                <div class="mdl-dialog__content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="radius">
                        <label class="mdl-textfield__label" for="radius">Sensing Range (m)</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="speed">
                        <label class="mdl-textfield__label" for="speed">Flight Speed</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="batt_life">
                        <label class="mdl-textfield__label" for="batt_life">Battery Life</label>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="submit" value="done" class="mdl-button">Done</button>
                    <!-- <button type="submit" value="cancel" class="mdl-button">Cancel</button> -->
                </div>
            </form>
        </dialog>

        <dialog id="modal4" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Mission Plan Summary</h4>
                <div id="summary_fields" class="mdl-dialog__content">
                    <p>Total Distance:&nbsp;</p>
                    <p>Flight Time:&nbsp;</p>
                    <p>Average Speed:&nbsp;</p>
                    <p># Waypoints:&nbsp;</p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close">Close</button>
                </div>

        </dialog>

        <dialog id="modal5" class="mdl-dialog">
            <!-- <h4 class="mdl-dialog__title">Mission Plan Summary</h4> -->
                <div class="mdl-dialog__content">
                  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>Computing Path
                    
                </div>
                <div class="mdl-dialog__actions">
                    <!-- <button type="button" class="mdl-button close">Close</button> -->
                </div>

        </dialog>
    
    <button id="outerSelected" type="button" class="navigator btn btn-success"> Next </button>
    <div class="navigator" style="display: none">
      <button id="add" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> | Add </button>
      <button id="done" type="button" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> | Done </button>
    </div>
    
    
    
    <div id="map"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAvIdc2wpcR7TOdxlGcyFPBKgwoCKpACOM&callback=initMap">
    </script>
  </body>
</html>